# Fichiers d'environnement
.env
.env.local
.env.production

# Dépendances
node_modules/

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

